/* CodeDisplay.css */
.code-display {
  display: flex;
  align-items: flex-start;
  font-family: monospace;
  overflow: auto;
}

.hidden {
  display: none !important;
}

.title-lines-container {
  display: flex;
  width: 55rem;
  justify-content: space-between;
  align-items: center;
  @media (max-width: 1000px) {
    width: 40rem;
  }
  label {
    font-size: 1.4rem;
  }
  .checkbox {
    width: 1.5rem;
    height: 1.5rem;
    display: inline-block;
    vertical-align: top;
  }
}

.code-container {
  display: flex;
  @media (max-width: 1000px) {
    width: 40rem;
  }
  .code-lines {
    display: flex;
    flex-direction: column;
    background-color: #222;
    border-radius: 1rem 0 0 1rem;
    :first-child {
      padding-top: 12px;
    }
  }
  p {
    margin: 1.6px 0 0 0 !important;
    text-align: right;
    color: #bdbdbd;
  }
}

.with-line-nums {
  border-radius: 1rem 1rem 1rem 1rem !important;
}

.save-btn {
  margin-top: 2rem;
  font-weight: bold;
}

#editor {
  height: 30rem;
  outline: 0;
}

.pre {
  overflow: hidden;
  margin: 0 !important;
  height: 50rem;
}

.language-js {
  width: 55rem;
}

.line-numbers {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 0 10px;
  border-right: 1px solid #ccc;
}

.line-number {
  padding: 3px 5px;
  color: #000000;
}

.code-lines {
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.code-line {
  white-space: nowrap;
  text-align: left;
}
